@import "../lib/css/elements.less";
body{
  }
/* layout */
#left{
    width: 300px;
    float:left;
    position: fixed;
    background:white;
    margin:20px;
}
#main {
    width:700px;
  height:auto;
  left:350px;
  position:absolute;
}

/*.article-contenu {
    width:100%;
    height:auto;
    margin-top:auto;
    position:relative;
}*/

.article-header{
    width:700px;
    background:#FFF;
    position:fixed;
}

#article-title{
    margin-top:80px;
    width:350px;
}
/* style */


#toc{
  float:left;
  font-family:'arsenal';
  margin-top:100px;
  line-height:18px;
  width:450px;
  margin-left:350px;
  transform: skewX(0deg) skewY(20deg);
  position:fixed;
  
  ul{
  li{

    transform: skewX(0deg) skewY(-10deg);
  font-size:12px;
	ul{
	  li{
	  margin-left:20px;
	  font-size:10px;
    }
  
  }
    }
  
  }
}

#left{
      #logo{
	    font-family: 'kingthings_exeterregular';
	    font-size: 24px;
	    letter-spacing:4px;
	    text-transform: uppercase;
      }
      nav {
	font-family:'arsenal';
      
      }
      
      #extra-aside{
	font-family:'arsenal';
      
      }
}

#article-title{
    width:350px;
    font-family:'arsenalbold';
    margin-bottom:20px;
    line-height:24px;
  h1, .authors {
    font-weight: bold;
    
    font-size:20px;
  
 }
 .license {
    font-size:14px;
 }
 .year {
    font-size:14px;
 }
}



a{
    color:black;
    text-decoration:none
}

a:hover{
	color:red;
}
  h1{

   
   }
.metadata{
 
}


#main {
    overflow:hidden;
    font-size: 20px;
    line-height: 28px;
    
    h1 {
        font-size:20px;
	font-family: 'arsenalbold';
    }

    h2, {
	font-family: 'arsenalbold';
	margin-top:30px;
	margin-bottom:10px;
        
    }
    h3{
	font-family: 'arsenalbold';
	font-size:16px;
	margin-top:30px;
	margin-bottom:10px;
	margin-left: 30px;
    
    }

    p {
        margin-left: 60px;
        font-family:'arsenal'
    }

    p + p {
        margin-top: 20px;
    }

    img {
        max-width: 100%;
    }

    pre {
	outline:0.5px solid #C0C0C0;
        margin: 28px;
        padding:10px;
        code {
	  font-family:'inconsolatamedium';
	  width:100%;
	  font-size:14px;
	  
        }
    }

    figure {
        border: 1px solid blue;

        figcaption {
	    color:#FF0;
            font-size: smaller;
        }
    }
    figcaption {
	    width:350px;
	    margin-bottom:-20px;
	    margin-top:0px;
	    line-height: 16px;
            font-size: 14px;
            font-family:'arsenalitalic';
        }

    table {

        th {
            font-weight: bold;
        }

        th, td {
            border: 1px solid black;
        }
    }

    /* appels de notes de bas de page */
    sup {
        font-size: 0.7em;
        vertical-align: 0.3em;

        a {
            text-decoration: none;
        }
    }
    
     /*liste dans main */
      ul {
/*             list-style-type: decimal; */
/*             list-style-position: inside; */

            li {
            font-family:'arsenal';
            margin-left:40px;
            font-size:14px;
		ul{
		
		  li{
		    
		  }
		
		}
            }

    /* citations */
    blockquote {
        border: 1px solid black;
        padding: 10px;
        margin-left: 20px;
    }

    .footnote {
        .columns(40px, 2, 10px, #EEE, 0px);
        font-family: mono;
        font-size: 10px;
        line-height: 13px;

        hr {
            display: none;
        }

        ol {
            list-style-type: decimal;
            list-style-position: inside;

            li {
            color:pink;
            }
        }
        
      
        }
    }
    
}
