<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{{ object }}{% endblock %} — LGRU Reader</title>
    <link href="{{ STATIC_URL }}lib/css/reset.css" type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}less/font.less" type="text/css" rel="stylesheet/less">
    <link href="{{ STATIC_URL }}less/reader.less" type="text/css" rel="stylesheet/less">
    <LINK rel="stylesheet" type="text/css" href="{{ STATIC_URL }}font/font.css">

</head>
<body>

    <aside id="left">
        
        <div id='logo'><a href="/">Considering<br/>your&nbsp;tools</a></div>
<!-- <img src="http://ospublish.constantvzw.org/blog/wp-content/uploads/lgru-coposition-25-02-dualcirclespng.png" /> -->
        <nav>
            <a href="/pages/about/">About</a>
        </nav>
        <nav>
            <ul>
                <!--<li>
                    <a href="{% url library-text-list %}">Texts</a>
                </li>
                <li>-->
                    <a href="{% url library-collection-list %}">Chapters</a>
                </li>
            </ul>	
        </nav>
        <div id="extra-aside">
            {% block extra_aside %}{% endblock %}
        </div>
    </aside>

    {% block body %}{% endblock %}

    {% block js %}
    <script src="{{ STATIC_URL }}lib/js/less-1.3.0.min.js"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery-ui.min.js"></script>
    <!--<script src="{{ STATIC_URL }}lib/js/jquery.tocify.min.js"></script>-->
    <script src="{{ STATIC_URL }}lib/js/jquery.tocify.min.js"></script>
    {% endblock %}

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.stdin.fr/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "12"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
</body>
</html>
