{% extends "library/base.html" %}

{% load markup %}
{% load publication_extras %}


{% block title %}{{ object.name }}{% endblock %}


{% block extra_aside %}
    <h2>{{ object }}</h2>
    <div id="toc"></div>
{% endblock %}


{% block body %}
    <article>
    <h1>{{ object.name }}</h1>
    <section>
        {{ object.body|markdown:"extra" }}

    </section>
    <hr>
        <h1>Contents</h1>
    <section>
        <ul class='text-list'>
        {% for text in object.membership_set.all %}
            <li class='{% if object.body %}has-content{% endif %} {% if not user.is_authenticated and text.text.license_id < 3 %}not-authorized{% endif %}'>
            {% with text.text.reference as publication %}

            <h2><a href="{{ text.text.get_absolute_url }}" class="title">{{ publication.title|tex_parse }}</a></h2>

            {% if text.text.translation_set.all %}
                <div class="translations">
                    {% for trad in text.text.translation_set.all %}
                        <a href='{{ trad.translation.text_set.all.0.get_absolute_url }}'>{{ trad.language }}</a>
                        {% if not forloop.last %}/{% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <p>
                {% for author, author_escaped in publication.authors_escaped %}
                <span class="author">{{ author }}</span>{% if not forloop.last %}{% if forloop.revcounter == 2 %}{% if not forloop.first %},{% endif %} and {% else %}, {% endif %}{% endif %}
            {% endfor %}
            </p>

            <p>
            {% if publication.journal %}
                <cite>{{ publication.journal }}, {{ publication.year }}</cite><br />
            {% else %}
                <i>{% if publication.book_title %}{{ publication.book_title }},{% endif %}
                {% if publication.publisher %}{{ publication.publisher }},{% endif %}
                {{ publication.year }}</i><br/>
            {% endif %}
            {% if publication.keywords %}
                {% for keyword, keyword_escaped in publication.keywords_escaped %}
                    <a class="keyword" href="/publications/tag/{{ keyword_escaped }}/">{{ keyword }}</a>
                {% endfor %}
            {% endif %}
            </p>

            <p>
            {% if publication.code %}<a class="link" href="{{ publication.code }}">Code</a>,{% endif %}
            {% if publication.url %}<a class="link" rel="external" href="{{ publication.url }}">URL</a>,{% endif %}
            {% if text.text.license_id > 2 %}
                {% if publication.pdf %}<a class="link" href="{{ MEDIA_URL }}{{ publication.pdf }}">PDF</a>,{% endif %}
            {% elif user.is_authenticated %}
                {% if publication.pdf %}<a class="link" href="{{ MEDIA_URL }}{{ publication.pdf }}">PDF</a>,{% endif %}
            {% endif %}
            {% if publication.doi %}<a class="link" rel="external" href="http://dx.doi.org/{{ publication.doi }}">DOI</a>,{% endif %}
            {% endwith %}

            {{ text.text.license }}
            </p>
            </li>
        {% endfor %}
        </ul>
    </section>
    </article>
{% endblock %}



{% block js %}
{{ block.super }}

<script>
$(function () {
    $("#toc").tocify({
        context: 'article',
        selectors: 'h2, h3',
    });
});
</script>
{% endblock %}
