<!DOCTYPE HTML>{% load markup publication_extras %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{{ object }}{% endblock %} — LGRU Reader</title>
    <link href="{{ STATIC_URL }}lib/css/reset.css" type="text/css" rel="stylesheet">
    <link href="{{ STATIC_URL }}less/font.less" type="text/css" rel="stylesheet/less">
    <link href="{{ STATIC_URL }}less/reader.less" type="text/css" rel="stylesheet/less">
</head>
<body>
    {% if object.translations.all %}
    this text is available available in {% for translation in object.translations.all %}
        {{ translation.language_code }}
    {% endfor %}
    
    {% endif %}
    <article>
    <h1>{{ object.title }}</h1>
    {{ object.body|markdown }}
    </article>

    {% block js %}
    <script src="{{ STATIC_URL }}lib/js/less-1.3.0.min.js"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery-ui.min.js"></script>
    {% endblock %}
</body>
</html>


