{% extends "library/base.html" %}


{% load markup publication_extras %}


{% block extra_aside %}
    {% if object.collection_set.all %}
        {% with object.collection_set.all.0 as coll %}
            <h2><a href='{{ coll.get_absolute_url }}'>{{ coll }}</a></h2>

            {% for member in coll.membership_set.all %}
                {% with member.text.reference as publication %}
                {% if publication == object.reference %}
                    <div id="current">
                        <div class="metadata">

                            <cite id="article-title" style="color:red;" >{{ publication.title|tex_parse }}</cite><br>
                            {#{% include "library/partial/metadata.html" %}#}
                            
                        </div>
                        
                        
                    </div>
                {% else %}
               
                    <div class="other">
                        <a href="{{ member.text.get_absolute_url }}"><cite>{{ publication.title|tex_parse }}</cite></a>
                    </div>
                {% endif %}
                {% endwith %}
            {% endfor %}
            </ul>   
        {% endwith %}
    {% else %}
        {% with object.translation_set.all.0.translation.text_set.all.0.collection_set.all.0 as coll %} 
            <h2><a href='{{ coll.get_absolute_url }}'>{{ coll }}</a></h2>

            {% for member in coll.membership_set.all %}
                {% with member.text.reference as publication %}
                {% if publication == object.reference.translation_set.all.0.text.reference %}
                    <div id="current">
                        <div class="metadata">
                        <!--<div id="toc"></div>-->
                            <cite id="article-title">{{ publication.title|tex_parse }}</cite><br>
                            {#{% include "library/partial/metadata.html" %}#}
                        </div>
                        <hr>
                        
                    </div>
                {% else %}
                    <div class="other">
                        <a href="{{ member.text.get_absolute_url }}"><cite>{{ publication.title|tex_parse }}</cite></a>
                    </div>
                {% endif %}
                {% endwith %}
            {% endfor %}
            </ul>   
        {% endwith %}
    {% endif %}

{% endblock %}
	
{% block body %}
    
      
    <article id="main">
    <div class="article-header">
        <div id="toc"></div>
    <div id="article-title">
 
      <h1>{{ object.reference.title }}<br/>-</h1>
      <div class="authors">{{ object.reference.authors }}</div>
      <div class="year">{{ object.reference.year }} / {{ object.license }}</div>
    </div>
    </div>
    <div class="article-contenu">
	{% if not object.body %}
	    No content available yet.
	{% endif %}

	{% if object.license_id <= 2 and not user.is_authenticated %}
	    We do not have the rights to publish this text. <br />
	    Please refer to available URL and metadata when possible.
	{% else%}
	    {{ object.body|markdown:"extra" }}
	{% endif %}
    </div>
    </article>
{% endblock %}


{% block js %}
{{ block.super }}

<script>
$(function () {
    $("#toc").tocify({
        context: 'article',
        selectors: 'h2, h3',
        
      });
});
//     $(document).ready(function(){
//         side = $("aside#left");
//         txt = $("article#main");
//         side_h = side.height();
//         txt_h = txt.height();
//         //console.log(side_h)
//         //console.log(txt_h)
//         //console.log($(document).scrollTop());
//         //console.log($(window).height())
//         if(side_h > $(window).height()){
//             $(document).scroll(function(){
//                 if ($(document).scrollTop() + $(window).height()*1.5 > side_h ){
//                     side.css({'position': 'fixed', 'bottom': '1em'});
//                     txt.css({'position': 'absolute', 'margin-left': '13em'});
//                 } else {
//                     side.css({'position': 'static'});
//                 }
//              });
//         } else {
//            side.css({'position': 'fixed', 'top': '1em'});
//             txt.css({'position': 'absolute', 'margin-left': '13em'});
//         }
//     });


</script>
{% endblock %}
