{% extends "library/base.html" %}
{% load markup %}
{% load publication_extras %}

{% block body %}
<article>
    <h1>Texts</h1>
    <section>
        <ul class="text-list">
            {% for object in object_list %}
                {% with object.reference as publication %}
                    <li class='{% if object.body %}has-content{% endif %} {% if not user.is_authenticated and object.license_id < 3 %}not-authorized{% endif %}'>{{ publication.authors }}. <br />
                    <a href="{{ object.get_absolute_url }}">{{ publication.title }}{% if not publication.title_ends_with_punct %}.{% endif %}</a><br />
                    {% if publication.journal %} {{ publication.journal }},{% endif %}{% if publication.book_title %} {{ publication.book_title }},{% endif %}{% if publication.publisher %} {{ publication.publisher }},{% endif %}{% if publication.volume %} volume {{ publication.volume }},{% endif %}{% if publication.number %} issue {{ publication.number }},{% endif %}{% if publication.pages %} pages {{ publication.pages }},{% endif %}{% if publication.month %} {{ publication.month_long }}{% endif %} {{ publication.year }}.<br />
                    {{ object.license }}
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    </section>
</article>
{% endblock %}
