@font-face {
    font-family: 'inconsolatamedium';
    src: url('inconsolata/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('inconsolata/inconsolata-webfont.woff') format('woff'),
         url('inconsolata/inconsolata-webfont.svg#inconsolatamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quattrocento_r';
    src: url('quattrocento/quattrocentosans-regular-webfont.eot');
    src: url('quattrocento/quattrocentosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('quattrocento/quattrocentosans-regular-webfont.woff') format('woff'),
         url('quattrocento/quattrocentosans-regular-webfont.ttf') format('truetype'),
         url('quattrocento/quattrocentosans-regular-webfont.svg#quattrocento_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arsenalbold';
    src: url('arsenal/arsenal-bold-webfont.eot');
    src: url('arsenal/arsenal-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('arsenal/arsenal-bold-webfont.woff') format('woff'),
         url('arsenal/arsenal-bold-webfont.ttf') format('truetype'),
         url('arsenal/arsenal-bold-webfont.svg#arsenalbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arsenalbold_italic';
    src: url('arsenal/arsenal-bolditalic-webfont.eot');
    src: url('arsenal/arsenal-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('arsenal/arsenal-bolditalic-webfont.woff') format('woff'),
         url('arsenal/arsenal-bolditalic-webfont.ttf') format('truetype'),
         url('arsenal/arsenal-bolditalic-webfont.svg#arsenalbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arsenalitalic';
    src: url('arsenal/arsenal-italic-webfont.eot');
    src: url('arsenal/arsenal-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('arsenal/arsenal-italic-webfont.woff') format('woff'),
         url('arsenal/arsenal-italic-webfont.ttf') format('truetype'),
         url('arsenal/arsenal-italic-webfont.svg#arsenalitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arsenal';
    src: url('arsenal/arsenal-regular-webfont.eot');
    src: url('arsenal/arsenal-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('arsenal/arsenal-regular-webfont.woff') format('woff'),
         url('arsenal/arsenal-regular-webfont.ttf') format('truetype'),
         url('arsenal/arsenal-regular-webfont.svg#arsenalitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kingthings_exeterregular';
    src: url('kingthings/kingthings_exeter-webfont.eot');
    src: url('kingthings/kingthings_exeter-webfont.eot?#iefix') format('embedded-opentype'),
         url('kingthings/kingthings_exeter-webfont.woff') format('woff'),
         url('kingthings/kingthings_exeter-webfont.ttf') format('truetype'),
         url('kingthings/kingthings_exeter-webfont.svg#kingthings_exeterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
