{% load publication_extras %}

<div id="article-title"><h1>{{ publication.title|tex_parse }}</h1><br />-<br />

<h1>
{% for author, author_escaped in publication.authors_escaped %}
  <span class="author">{{ author }}</span>{% if not forloop.last %}{% if forloop.revcounter == 2 %}{% if not forloop.first %},{% endif %} and {% else %}, {% endif %}{% endif %}
{% endfor %}
</h1>

{% if publication.journal %}
   <cite>{{ publication.journal }}</cite>, <time>{{ publication.year }}</time>
{% else %}
    {% if publication.book_title %}<cite>{{ publication.book_title }}</cite>,{% endif %}
    {% if publication.publisher %}{{ publication.publisher }},{% endif %}
    <time><h2>{{ publication.year }}</h2></time>
{% endif %}

 <h2>{{ object.license }}</h2><br />

{% if publication.keywords %}
    {% for keyword, keyword_escaped in publication.keywords_escaped %}
        <a class="keyword" href="/publications/tag/{{ keyword_escaped }}/">{{ keyword }}</a>
    {% endfor %}

{% endif %}

{% if object.translation_set.all %}

    {% for trad in object.translation_set.all %}
       <h2> <a href='{{ trad.translation.text_set.all.0.get_absolute_url }}'>{{ trad.language }}</a></h2>
        {% if not forloop.last %}/{% endif %}
    {% endfor %}
{% endif %}

{% comment %}
{% if publication.code %}<a class="link" href="{{ publication.code }}">Code</a>,{% endif %}
{% if publication.url %}<a class="link" rel="external" href="{{ publication.url }}">URL</a>,{% endif %}
{% if publication.pdf %}<a class="link" href="{{ MEDIA_URL }}{{ publication.pdf }}">PDF</a>,{% endif %}
{% if publication.doi %}<a class="link" rel="external" href="http://dx.doi.org/{{ publication.doi }}">DOI</a>,{% endif %}
{% endcomment %}
</div>